# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environment
myenv/

# Environment variables
.env


# Logs
*.log

# IDEs
.vscode/
.idea/

# Django-related
/media/


# Database
db.sqlite3
*.sqlite3

# Static files
staticfiles/